;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[datascript "1.3.10"]
  [net.mikera/core.matrix "0.62.0"]
  [cider/cider-nrepl "0.28.3"]
  [grotesque "3.0.0"]
  [instaparse "1.4.12"]
  [cljx-sampling "0.1.0"]
  [rand-cljc "0.1.0"]
  [org.clojure/test.check "1.1.1"]
  [org.clojure/math.numeric-tower "0.0.5"]
  [com.github.pkpkpk/cljs-node-io "2.0.332"]]

 :plugins [;;[lein-kibit "0.1.8"]
           ;;[lein-cljfmt "0.8.0"]
           ;;[lein-marginalia "0.9.1"]
           ;;[lein-instant-cheatsheet "2.2.2"]
           ;; [funcool/codeina "0.4.0"
           ;;  :exclusions [org.clojure/clojure]]
           ]

 :codeina {:sources ["src"]
          :exclude [cats.monad.continuation
                    cats.monad.reader
                    cats.monad.writer]
          :reader :clojurescript
          :target "doc/codina/dist/latest/api"
          :src-uri "https://github.com/ikarth/elite"
           :src-uri-prefix "#L"}

 :devtools
 {}

 :dev-http {8080 "public"}
 :builds
 {:script
  {:target :node-script
   :main ijk.elite/run
   :output-to "out/elite.js"
   :modules
   {:main {:init-fn ijk.elite/run}}
   }
  :browser
  {:target :browser
   :modules {:main {:init-fn ijk.elite/run}}
  }}}
